.tile {
  vertical-align: middle;
  border: 2px outset #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e3e3e3;
}
.board {
  border-top: 1px solid white;
  border-left: 1px solid white;
}

.beginner .tile {
  width: 35px;
  height: 35px;
}

.intermediate .tile {
  width: 30px;
  height: 30px;
}

.advance .tile {
  width: 26px;
  height: 26px;  
}

.nightmare .tile {
  width: 23px;
  height: 23px;
}
.closedTile {
  background-color: #d3d3d3;
}
.openedTile {
  border-width: 1px;
  border-style: inset;
}
.empty {
  border-width: 1px;
  border-style: inset;
}
.numberedTile {
  font-size: 17px;  
  border-width: 1px;
  border-style: inset;
}
.flag {
  width: 18px;
  height: 18px; 
}

.numbers {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
}

.refresh {
  width: 30px;
  height: 30px;
}

.msrow {
  display: flex;
}

